<% provide(:title, 'Current Exchange Rates') %>

<h1>Current Exchange Rates</h1>

<div ng-app ng-controller="marketList" ng-init="getRates()">
<table>
  <tr ng-repeat="(key, data) in rates.rates">
    <td>{{key}}</td>
    <td>{{data}}</td>
  </tr>
</table>
</div>